


body {
    font-family: 'Dekko';
  font-size: 18px;
  line-height: 34px;
    background: url(../images/cave.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;  
}


#title {
    width: 250px;
    height: 100px;
    background: rgb(113, 158, 212);
    text-align: left;
    float: left;
    margin: 20px;
    opacity: .8;
    border-radius: 15px;
     
}


#mainSection{
    width: 740px;
    float: left;
    clear: both;
    border-radius: 15px;
    background: rgb(113, 158, 212, 0.5); 
    text-align: center;
}

#instruction,
#cpuColumn,
#scoreStatement,
#wonAndLoss {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 15px;
    opacity: 0.7;
    /* box-shadow: 5px 10px 20px #adc1e7; */
}

.gemImg,
.btn{
    border-radius: 15px;
    box-shadow: 5px 10px 20px #adc1e7;
    float: left;
}

#instruction{
    margin: 10px auto;
   
}

.gameBoard{
    display: none;
}

#cpuColumn
{
    width: 400px;
    height: 85px;
    /* left:  250px; */
}

#scoreStatement {
    width: 400px;
    height: 40px;
    /* margin-bottom: 15px; */
   
   
}

.btn {
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    /* float: left; */
}

